<!DOCTYPE web-app
          PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
          "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <filter>
    <filter-name>Cosign Authentication Filter</filter-name>
    <filter-class>edu.umich.auth.AuthenticationFilter</filter-class>

    <init-param>
      <param-name>Auth.LoginModule</param-name>
      <param-value>edu.umich.auth.cosign.CosignLoginModule</param-value>
    </init-param>

    <init-param>
      <param-name>Auth.CallbackHandler</param-name>
      <param-value>edu.umich.auth.CosignServletCallbackHandler</param-value>
    </init-param>

    <init-param>
      <param-name>Auth.Cosign.ServiceName</param-name>
      <param-value>cosign-java</param-value>
    </init-param>

    <init-param>
      <param-name>Auth.Cosign.LoginServer</param-name>
      <param-value>https://cosign-test.www.umich.edu</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>Krb5 Authentication Filter</filter-name>
    <filter-class>edu.umich.auth.AuthenticationFilter</filter-class>

    <init-param>
      <param-name>Auth.LoginModule</param-name>
      <param-value>com.sun.security.auth.module.Krb5LoginModule</param-value>
    </init-param>

    <init-param>
      <param-name>Auth.CallbackHandler</param-name>
      <param-value>edu.umich.auth.Krb5ServletCallbackHandler</param-value>
    </init-param>
  </filter>

  <filter-mapping>
      <filter-name>Cosign Authentication Filter</filter-name>
      <url-pattern>/cosign-secure/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
      <filter-name>Krb5 Authentication Filter</filter-name>
      <url-pattern>/krb5-secure/*</url-pattern>
  </filter-mapping>
</web-app>